<a href="https://colab.research.google.com/github/marbahi/Samsung-Inovation-Campus---Batch-7/blob/main/Lists_%26_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nama_siswa = ['Ahmad', 'Rohan', 'Malik', 'Budi', 'Adi', 'Siti', 'Ita']

In [ ]:
nilai_siswa = {
    'Ahmad':93,
    'Rohan':92,
    'Malik':90,
    'Budi':89,
    'Adi':91,
    'Siti':95,
    'Ita':86
}

In [ ]:
nama_siswa.append('Santoso')
nama_siswa.remove('Malik')
print(nama_siswa)

['Ahmad', 'Rohan', 'Budi', 'Adi', 'Siti', 'Ita', 'Santoso']

In [ ]:
print(nama_siswa[0])
print(nama_siswa[len(nama_siswa) - 1])
print(nama_siswa[-3:])

Ahmad
Santoso
['Siti', 'Ita', 'Santoso']

In [ ]:
print("Mencetak nama siswa dengan index masing-masing")
for i in range(len(nama_siswa)):
  print(f'Index {i} -> {nama_siswa[i]}')

Mencetak nama siswa dengan index masing-masing
Index 0 -> Ahmad
Index 1 -> Rohan
Index 2 -> Budi
Index 3 -> Adi
Index 4 -> Siti
Index 5 -> Ita
Index 6 -> Santoso

In [ ]:
nilai_siswa['Budi'] = 91
nilai_siswa.pop('Malik')
print(nilai_siswa)

{'Ahmad': 93, 'Rohan': 92, 'Budi': 91, 'Adi': 91, 'Siti': 95, 'Ita': 86}

In [ ]:
nilai_siswa['Agus'] = nilai_siswa.pop('Rohan')
print(nilai_siswa)

{'Ahmad': 93, 'Budi': 91, 'Adi': 91, 'Siti': 95, 'Ita': 86, 'Agus': 92}